In [2]:
import pandas as pd
import numpy as np

- [1. Exploring The Dataset](#a)
    - [1.1 Load The Datset](#1.1)
    - [1.2 Data Description](#1.2)
- [2. Data Cleaning](#2)
    - [2.1 Missing Value](#2.1)
    - [2.2 Duplicated](#2.2)
    - [2.3 Outliter](#2.3)

## 1. Exploring the datasert
### 1.1 Load the Dataset

In [17]:
df = pd.read_csv('https://raw.githubusercontent.com/ManonYa09/Data_analysis_with_pandas/main/Data/Ecommerce%20Purchases.csv')
df.head(1).T
## using github link for load the data

                                                                  0
Address           16629 Pace Camp Apt. 448\nAlexisborough, NE 77...
Lot                                                           46 in
AM or PM                                                         PM
Browser Info      Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
Company                                             Martinez-Herman
Credit Card                                        6011929061123406
CC Exp Date                                                   02/20
CC Security Code                                                900
CC Provider                                            JCB 16 digit
Email                                             pdunlap@yahoo.com
Job                          Scientist, product/process development
IP Address                                          149.146.147.205
Language                                                         el
Purchase Price                                                98.14

Check first 5 rows of the dataset

check last 5 rows of the dataset

In [34]:

df.tail()

Check type of the dataset


Check null values in the dataset


5. How many rows and columns are there in our Dataset?


6. Highest and Lowest Purchase Prices.


7. Average Purchase Price


8. How many people have French 'fr' as their Language?

In [15]:
row, _= df[df["Language"] == 'fr'].shape
row

1097

9. How many languages people have in total

0       el
1       fr
2       de
3       es
4       es
        ..
9995    it
9996    pt
9997    el
9998    es
9999    el
Name: Language, Length: 10000, dtype: object


9. Job Title Contains Engineer or engineer

How many number of people have job as manager?


10. Find The Email of the person with the following IP Address: 132.207.160.22


11. How many People have Mastercard as their Credit Card Provider and made a purchase above 50?


12. Find the email of the person with the following Credit Card Number: 4664825258997302


13. How many people purchase during the AM and how many people purchase during PM?


14. How many people have a credit card that expires in 2020?


15. What are the top 5 most popular email providers (e.g. [gmail.com](http://gmail.com/), [yahoo.com](http://yahoo.com/), etc...)