# Pandas

In [4]:
import pandas as pd

In [7]:
numbers = pd.Series([1,2,3,4,5], name="number")
numbers

0    1
1    2
2    3
3    4
4    5
Name: number, dtype: int64

In [6]:
numbers[0]

1

In [8]:
numbers = pd.Series([1,2,3,4,5], index=["one", "two", "three", "four", "five"], name="number")
numbers

one      1
two      2
three    3
four     4
five     5
Name: number, dtype: int64

In [12]:
numbers["two"]

2

In [19]:
numbers.iloc[1]

2

In [13]:
numbers.loc["two"]

2

In [24]:
numbers = pd.Series([10,20,30,40,50], index=[1,2,3,4,5], name="number")
numbers

1    10
2    20
3    30
4    40
5    50
Name: number, dtype: int64

In [25]:
numbers[1]

10

In [26]:
numbers.iloc[1]

20

In [27]:
numbers.loc[1]

10

In [29]:
numbers.dtype

dtype('int64')

In [30]:
numbers.name

'number'

In [31]:
numbers = pd.Series([10,20,30,40,50], index=[1,2,3,4,5], name="number", dtype=str)
numbers

1    10
2    20
3    30
4    40
5    50
Name: number, dtype: object

## List vs Pandas.Series

In [40]:
nums = pd.Series([1,2,4,5])
nums2 = pd.Series([6,7,8,9,0])
new_nums = pd.concat([nums, nums2])
new_nums

0    1
1    2
2    4
3    5
0    6
1    7
2    8
3    9
4    0
dtype: int64

In [41]:
new_nums[0]

0    1
0    6
dtype: int64

In [43]:
new_nums.iloc[0]

1

## Dataframe

In [44]:
df = pd.read_csv("./football.csv")
df

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [45]:
df.columns

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

In [47]:
df.dtypes

Team                           object
Goals                           int64
Shots on target                 int64
Shots off target                int64
Shooting Accuracy              object
% Goals-to-shots               object
Total shots (inc. Blocked)      int64
Hit Woodwork                    int64
Penalty goals                   int64
Penalties not scored            int64
Headed goals                    int64
Passes                          int64
Passes completed                int64
Passing Accuracy               object
Touches                         int64
Crosses                         int64
Dribbles                        int64
Corners Taken                   int64
Tackles                         int64
Clearances                      int64
Interceptions                   int64
Clearances off line           float64
Clean Sheets                    int64
Blocks                          int64
Goals conceded                  int64
Saves made                      int64
Saves-to-shots ratio           object
Fouls Won                       int64
Fouls Conceded                  int64
Offsides                        int64
Yellow Cards                    int64
Red Cards                       int64
Subs on                         int64
Subs off                        int64
Players Used                    int64
dtype: object

In [71]:
ndf = df[["Team","Goals", "Penalty goals", "Players Used"]]
ndf

                   Team  Goals  Penalty goals  Players Used
0               Croatia      4              0            16
1        Czech Republic      4              0            19
2               Denmark      4              0            15
3               England      5              0            16
4                France      3              0            19
5               Germany     10              1            17
6                Greece      5              1            20
7                 Italy      6              0            19
8           Netherlands      2              0            15
9                Poland      2              0            17
10             Portugal      6              0            16
11  Republic of Ireland      1              0            17
12               Russia      5              0            16
13                Spain     12              1            18
14               Sweden      5              0            18
15              Ukraine      2              0            18

In [72]:
ndf.Team

0                 Croatia
1          Czech Republic
2                 Denmark
3                 England
4                  France
5                 Germany
6                  Greece
7                   Italy
8             Netherlands
9                  Poland
10               Portugal
11    Republic of Ireland
12                 Russia
13                  Spain
14                 Sweden
15                Ukraine
Name: Team, dtype: object

In [78]:
ndf.head(2)

             Team  Goals  Penalty goals  Players Used
0         Croatia      4              0            16
1  Czech Republic      4              0            19

In [88]:
ndf["Team"][0]

'Croatia'

In [86]:
ndf.iloc[:, :2]

                   Team  Goals
0               Croatia      4
1        Czech Republic      4
2               Denmark      4
3               England      5
4                France      3
5               Germany     10
6                Greece      5
7                 Italy      6
8           Netherlands      2
9                Poland      2
10             Portugal      6
11  Republic of Ireland      1
12               Russia      5
13                Spain     12
14               Sweden      5
15              Ukraine      2