In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("./messy_data.csv")
data.head()

,loan_amnt,term,int_rate,installment,sub_grade,emp_title,emp_length,annual_inc,issue_d,loan_status,monthly_income,emp_industry,age
0,"$5,000.00",36 months,13.56,$169.83,C1,Public Affairs Specialist,10+ years,"$175,000.00",18-Aug,False,"$14,583.33",other,33
1,"$4,000.00",36 months,10.9,$130.77,B4,Reception/Sales,1 year,"$25,000.00",18-Mar,True,"$2,083.33",other,21
2,"$5,000.00",36 months,23.4,$194.60,E1,Sales,7 years,"$120,000.00",18-Jul,True,"$10,000.00",other,56
3,"$5,500.00",36 months,14.47,$189.24,C2,other,NaN,"$26,300.00",18-Dec,False,"$2,191.67",other,20
4,"$11,200.00",60 months,16.14,$273.20,C4,Engeneering,1 year,"$35,000.00",18-Aug,True,"$2,916.67",other,23

# Understanding datasets information