# Excerise 1

In [1]:
print("Hello"

SyntaxError: incomplete input (1647630127.py, line 1)

In [2]:
print"Hello"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (888425938.py, line 1)

In [3]:
-2

-2

In [4]:
+2

2

In [6]:
2++2

4

## 1. Write a program that calculates the area of a rectangle. Prompt the user to enter the length and width of the rectangle as integers. Calculate the area using the formula area = length * width and print the result

In [7]:
length = input("Input length:")
width = input("Input Width:")

area = float(length) * float(width)
area

Input length: 10
Input Width: 15.5

155.0

## 2. Write a program that calculates the average of three numbers. Prompt the user to enter three numbers as integers. Calculate the average of 3 number. Display the average

In [9]:
n1 = int(input("Input n1:"))
n2 = int(input("Input n2:"))
n3 = int(input("Input n3:"))

average = (n1+n2+n3)/3
average

Input n1: 1
Input n2: 1
Input n3: 2

1.3333333333333333

## 3. Create a program that swaps the values of two variables. Prompt the user to enter two numbers as integers. Print the values before and after the swap

In [15]:
n1 = int(input("Input n1:"))
n2 = int(input("Input n2:"))

n1,n2

Input n1: 10
Input n2: 5

(10, 5)

In [14]:
tem = n1
n1 = n2
n2 = tem

n1,n2

(10, 5)

In [16]:
n1, n2 = n2, n1
n1, n2

(5, 10)

## 1. Suppose the price of a book is $24.95, it get a 40% discount, how much is it?

In [17]:
book = 24.95
after_discount = 24.95 - 24.95*0.4
after_discount

14.969999999999999

In [18]:
book = 24.95
after_discount = 24.95 * (1-0.4)
after_discount

14.969999999999999

## How many seconds are there in 42 minutes 42 seconds?

In [48]:
minute = 42
second = 42

total_sec = second+minute*60
total_sec

2562

## 3. How many miles are there in 10 kilometers? Hint: there are 1.61 kilometers in a mile.

In [20]:
total_km = 10
total_mile = 10/1.61
total_mile

6.211180124223602

## 4. If you run a 10 kilometer race in 42 minutes 42 seconds.  What is your average speed in kilometer per hour (km/h)?

In [21]:
minute = 42
second = 42

total_sec = 42+42*60
total_hour = total_sec / (60*60)
total_hour

0.7116666666666667

In [22]:
total_km = 10
total_km / total_hour

14.05152224824356

# Excercise 2

## 1. Age Verification System: Create a program that prompts the user for their age and checks if they are eligible to vote (voting age varies by country, so you can adjust the condition accordingly)

In [33]:
age_limit = 18
age = input("Input your age:")
nationality = input("Input your natioinality:")
if int(age) < age_limit or int(age) > 100 or nationality != 'cambodia' :
    print("You are not eligible to vote")
else:
    print("You are eligible to vote")

Input your age: 18
Input your natioinality: cambodia

You are eligible to vote

## Online Shopping Discount Calculator: Let cashier input the purchase amount, Simulate an online store that offers a discount based on the purchase amount:

* 10% discount if above 100\$
* 20% discount if above 500\$
* 50% discount if above 1000$

In [39]:
total = int(input("Please enter total amount:"))
after_dis = total
if total > 100 and total <=500:
    after_dis = total * (1-0.1)
elif total > 500 and total <=1000:
    after_dis = total * (1-0.2)
elif total > 1000:
    after_dis = total * (1-0.5)
else:
    after_dis = total

after_dis

Please enter total amount: 99

99

In [47]:
total = int(input("Please enter total amount:"))
after_dis = total
if total > 1000:
    dis = 0.5
elif total > 500:
    dis = 0.2
elif total > 100:
    dis = 0.1
else:
    dis = 0
    
after_dis = total * (1-dis)

print(f"You received: {dis*100}%, total: {after_dis}")

Please enter total amount: 1000

You received: 20.0%, total: 800.0

In [52]:
total = int(input("Please enter total amount:"))
after_dis = total
if total <= 100:
    dis = 0
elif total <= 500:
    dis = 0.1
elif total <= 1000:
    dis = 0.2
else:
    dis = 0.5
    
after_dis = total * (1-dis)

print(f"You received: {dis*100}%, total: {after_dis}")

Please enter total amount: 1001

You received: 50.0%, total: 500.5

## 1. Write a program to calculate electricity with input total consumption. 

* From 0 to 50KW, price 1KW = 500 Riel
* From 50 to 100KW, price 1KW = 620Riel
* 100KW+, price 1kw = 750 Riel

In [62]:
total_consumption = int(input("Total Electricity consumption:"))

if total_consumption <= 50:
    cost = 500
elif total_consumption <=100:
    cost = 620
else:
    cost = 750

print("Total Price: {:,.2f}Riel".format(cost*total_consumption))

Total Electricity consumption: 1000

Total Price: 750,000.00Riel

## 2. Write a program to calculate net salary with input gross salary:
* 0 to 1,500,000Riel, tax is 0%
* 1,500,001 to 2,000,000, tax is 5%
* 2,000,001 to 8,500,000, tax is 10%
* 8,500,001 to 12,500,000, tax is 15%
* Over 12,500,000, tax is 20%

In [79]:
total_gross = int(input("Please input your total gross salary:")) * 4000

if total_gross <= 1_500_000:
    total_tax = 0
elif total_gross <= 2_000_000:
    total_tax = (total_gross - 1_500_000) * 0.05 
elif total_gross <= 8_500_000:
    total_tax = (total_gross - 2_000_000) * 0.10 + (2_000_000-1_500_000)*0.05
elif total_gross <= 12_500_000:
    total_tax = (total_gross - 8_500_000) * 0.15 +(8_500_000 - 2_000_000) * 0.10 + (2_000_000-1_500_000)*0.05
elif total_gross > 12_500_000:
    total_tax = (total_gross-12_500_000) * 0.2 + (12_500_000 - 8_500_000)*0.15 +(8_500_000 - 2_000_000) * 0.10 + (2_000_000-1_500_000)*0.05

print(f"Your tax is: {total_tax/4000} \nYour net salary is: {(total_gross - total_tax) / 4000}")

Please input your total gross salary: 3000

Your tax is: 300.0
Your net salary is: 2700.0

# Excerise 3

# 1.
movies = [
    {
        "title": "The Shawshank Redemption",
        "director": "Frank Darabont",
        "year": 1994,
        "genre": "Drama"
    },
    {
        "title": "The Godfather",
        "director": "Francis Ford Coppola",
        "year": 1972,
        "genre": ["Crime", "Drama"]  # You can store genres as a list here
    },
]

Write a few functions to:
* Add a new movie to your collection (consider using appropriate data structures).
* Search for movies by title or director.
* Filter movies based on genre or year of release.
* Display movie information in a user-friendly format

In [112]:
movies = [
    {
        "title": "The Shawshank Redemption",
        "director": "Frank Darabont",
        "year": 1994,
        "genre": ["Drama"]
    },
    {
        "title": "The Godfather",
        "director": "Francis Ford Coppola",
        "year": 1972,
        "genre": ["Crime", "Drama"]  # You can store genres as a list here
    },
]
movies

[{'title': 'The Shawshank Redemption',
  'director': 'Frank Darabont',
  'year': 1994,
  'genre': ['Drama']},
 {'title': 'The Godfather',
  'director': 'Francis Ford Coppola',
  'year': 1972,
  'genre': ['Crime', 'Drama']}]

### Add a new movie to your collection (consider using appropriate data structures).

In [115]:
def add_movie(title, director, year, genre):
    movies.append({ "title": title, "director": director, "year": year, "genre": genre })

In [116]:
add_movie("new movie", "Sunrise", 2024, ["Data Science", "DSE"])

movies

[{'title': 'The Shawshank Redemption',
  'director': 'Frank Darabont',
  'year': 1994,
  'genre': ['Drama']},
 {'title': 'The Godfather',
  'director': 'Francis Ford Coppola',
  'year': 1972,
  'genre': ['Crime', 'Drama']},
 {'title': 'new movie',
  'director': 'Sunrise',
  'year': 2024,
  'genre': ['Data Science', 'DSE']},
 {'title': 'new movie',
  'director': 'Sunrise',
  'year': 2024,
  'genre': ['Data Science', 'DSE']}]

### Search for movies by title or director

In [94]:
def search_by(title = '', director = ''):
    found_movie = []
    for m in movies:
        if m["title"].lower() == title.lower() or director.lower() == m["director"].lower():
            found_movie.append(m)
    
    return found_movie

search_by(director="sunrise")

[{'title': 'new movie',
  'director': 'Sunrise',
  'year': 2024,
  'genre': ['Data Science', 'DSE']},
 {'title': 'new movie',
  'director': 'Sunrise',
  'year': 2024,
  'genre': ['Data Science', 'DSE']}]

### Filter movies based on genre or year of release.

In [121]:
def filter_movie(year=None, genre = ''):
    found_movie = []
    for m in movies:
        if m["year"] == year or genre in m["genre"]:
            found_movie.append(m)
        
    return found_movie

filter_movie(genre="Crime")

[{'title': 'The Godfather',
  'director': 'Francis Ford Coppola',
  'year': 1972,
  'genre': ['Crime', 'Drama']}]

In [111]:
g =  "fsdfds"

"" in g

True

### Display movie information in a user-friendly format

In [137]:
# print("title\t\t\t\tdirector\t\t\tyear\tgenre\t")
for m in movies:
    # print(f"{m['title']}\t\t{m['director']}\t\t\t{m['year']}\t{m['genre']}")
    print("================================================")
    print(f"title: {m['title']}")
    print(f"director: {m['director']}")
    print(f"year: {m['year']}")
    print(f"genre: {m['genre']}")

================================================
title: The Shawshank Redemption
director: Frank Darabont
year: 1994
genre: ['Drama']
================================================
title: The Godfather
director: Francis Ford Coppola
year: 1972
genre: ['Crime', 'Drama']
================================================
title: new movie
director: Sunrise
year: 2024
genre: ['Data Science', 'DSE']
================================================
title: new movie
director: Sunrise
year: 2024
genre: ['Data Science', 'DSE']