In [1]:
def calculate_area(w, h):
    print(f"Width: {w}")
    print(f"Height: {h}")
    return w*h

area = calculate_area(10, 5)
print(f"total area: {area}")

Width: 10
Height: 5
total area: 50

In [3]:
area = calculate_area(200, 20)
print(f"total area: {area}")

Width: 200
Height: 20
total area: 4000

In [6]:
house = area * 3000
house

12000000

In [5]:
def calculate_area_no_return(w, h):
    print(f"Width: {w}")
    print(f"Height: {h}")
    print(f"Total Area: {w*h}") 

calculate_area_no_return(10, 5)
calculate_area_no_return(200, 10)

Width: 10
Height: 5
Total Area: 50
Width: 200
Height: 10
Total Area: 2000

In [7]:
def print_hello():
    print("Hello world")
    
print_hello() # invoke/call/trigger function
print_hello()

Hello world
Hello world

In [9]:
print_hello

In [11]:
def get_hello_world():
    """
    Get string of hello world
    """
    return "hello", "world"

get_hello_world

In [12]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [32]:
lst = [
    {"id": 1, "name": "J"},
    {"id": 10, "name": "J"},
    {"id": 2, "name": "M"}
]

def get_key(ele):
    return ele["name"], ele["id"]

sorted(lst, key=get_key)

[{'id': 1, 'name': 'J'}, {'id': 10, 'name': 'J'}, {'id': 2, 'name': 'M'}]

In [29]:
def first_5(stu):
    return stu["id"]==1

list(filter(first_5, lst) )

[{'id': 1, 'name': 'John'}]

In [33]:
def is_event(num):
    return num % 2 ==0


is_event(10)

True

In [38]:
lst = [1,2,3,4,5,6,7,8,9]
event_numbers = list(filter(is_event, lst))
event_numbers

[2, 4, 6, 8]

In [37]:
list(filter(lambda num: num%2!=0, lst))

[1, 3, 5, 7, 9]

In [42]:
is_odd = lambda num: num%2!=0

In [40]:
is_odd(10)

False